

#topFlexBox { 
  display: flex;
  background-color: #4056A1;
  height: 120px;
  z-index: 7;
  justify-content: space-between
}

nav span {
  color: #FFFFFF;
  font-family: 'Bungee';
  padding: 1em;
  font-size: 30pt;
  z-index: 7;
}

nav p {
  color: #FFFFFF;
  font-family: 'Bungee';
  justify-content: flex-end;
  padding: 1em;

}

