

#topFlexBox { 
  display: flex;
  background-color: #4056A1;
  height: 120px;
  z-index: 7;
  justify-content: space-between;
}

nav span {
  color: #FFFFFF;
  font-family: 'Bungee';
  padding: 1em;
  font-size: 30pt;
  z-index: 7;
}

nav p {
  color: #FFFFFF;
  font-family: 'Bungee';
  justify-content: flex-end;
  padding: 1em;

}


#tweetOption {
  justify-content: right;
  padding: 0;
  margin-right: 20px;
  margin-top: 30px;
  bottom: 10px;
  font-size: 16pt;
}

#birdFlex {
  display: flex;
  flex-direction: column;
  align-items: center;

}


#kiwiBird {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

#kiwiBird:hover {
  position:relative;
  left:0%;
  bottom:0;
  -webkit-animation:bounce 1s infinite;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
