.welcomeWords {
  text-align: center;
}

.tweetButton {
  font-family: 'Bungee';
  top: 3px;
  color: white;
  background-color: #4056A1;
}

.new-tweet {
  text-align: center;
  margin: 0 auto;
  border: 500px;
  margin: 30px;
  
}

textarea.inputTweetText {
  position: relative;
  outline: 0;
  border-width: 0 0 2px;
  border-bottom: 4px solid dimgrey;
  background: transparent;
  width: 100%;
  resize: none;
  height: 50px;
  
}


.counter {
  right: 0;
  font-family: 'Bungee';
  color: dimgray;
}

.counter.over {
  color: red;
}

.tweeterB {
  border: solid black;
  background-color: green
}

.flexNewTweetBottom {
  display: flex;
  justify-content: space-between;
}

.flexNewTweetBottom p {
  color: red;
  margin: 0;
  border: solid red;
  border-width: 1px;
}

