.tweetsBox {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: auto;
  width: 100%;
  margin-bottom:40px;
}


.tweets-container{
  border: solid black;
  background-color: seashell;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-bottom:40px;
  opacity: .5;
  
}

.tweets-container:hover {
  box-shadow: 10px 10px;
  color: #4056A1;
  opacity: .8;
 
}

.contentTweet {
  resize: none;
  border-bottom: 4px solid black;
  background: transparent;
  width: 98%;
  border-width: 0 0 3px;
  height: 60px;
}

.nameTweet {
  margin-right:auto;
  font-weight: bold;


  }



.footerFlex {
  display: flex;
  justify-content: flex-start;
  padding: 10px;

}

.daysLeft {
  font-size: 11pt;

}

.tweetImage {
  font-size: 0;
  height: 64px;
  width; 64px;
  


}